<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li style="color: red"> <%= error %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @event do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :date %>
<%= f.date_field :date %>

<%= f.label "Host" %>
<%= f.collection_select :user_id, @users, :id, :username %>

<%= f.label :location %>
<%= f.text_field :location %>

<%= f.submit %>

<% end %>
