<h2>Event Info</h2>

<h3> <%= @event.title %> </h3>

<% if flash[:success] %>
  <p style="color: green"> <%= flash[:success] %> </p>
<% end %>

<p> Date: <%= @event.date %></p>
<p> Host: <%= link_to @event.user.username, user_path(@event.user) %></p>
<p> Location: <%= @event.location %></p>

<h3> Attendees </h3>
<% @event.attendees.each do |guy| %>
  <%= link_to guy.username, user_path(guy) %>
  <% end %>
  <br>
  <br>

<%= button_to "Edit Info for this Event", edit_event_path, method: :get %>
<%#= button_to "Delete Event", event_path, method: :delete %>
