<!DOCTYPE html>
<html>
  <head>
    <title>EventsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:lightblue;">
  <div style="float: left; width: auto;"><%= button_to "Events", events_path, method: :get %></div>
  <div style="float: left; width: auto;"><%= button_to "Create an Event", new_event_path, method: :get %></div>
  <div style="float: left; width: auto;"><%= button_to "Attend an Event", new_event_attendance_path(1), method: :get %></div>
  <div style="float: left; width: auto;"><%= button_to "About", about_path, method: :get%></div>
  <br>
    <%= yield %>
  </body>
</html>
